DATABASE_URL="mysql://username:password@localhost:3306/baza" // change to your data
DATABASE_USER="username" // change to your data
DATABASE_PASSWORD="password" // change to your data
DATABASE_NAME="baza" // change to your data
DATABASE_HOST="localhost" // change to your data
DATABASE_PORT=3306